[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
flower = "*"
jinja2 = "*"
gunicorn = "*"
django-celery-beat = "*"
psycopg2-binary = "*"
django-model-utils = "*"
requests = "*"
sendgrid = "*"

[dev-packages]

[requires]
python_version = "3.9"
